
.button {
    background-color: rgba(75, 186, 91, 1);
    border-radius: 12px;
    border-color: white;
    position: relative;
    left: 40%;
    width: 400px;
    height: 50px;
    color: white;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    margin-top: 30px;
    cursor: pointer;
}

button>a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

button .vemConhecer{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.buttonEntrarParaHome {
    background-color: rgba(75, 186, 91, 1);
    border-radius: 12px;
    border-color: white;
    position: relative;
    left: 50px;
    top: 20px;
    width: 305px;
    height: 50px;
    color: white;
    font-size: 16px;
    border: 1px solid;
    border-color: white;
}

.buttonEntrarParaHome>svg {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 13px;
}

.buttoncadastroLogin {
    position: relative;
    top: -200px;
    left: 60.5%;
}

.buttoncadastro {
    background-color: white;
    border-radius: 12px;
    border-color: white;
    width: 305px;
    height: 50px;
    color: rgba(75, 186, 91, 1);
    font-size: 16px;
    border: 1px solid;
    border-color: rgba(75, 186, 91, 1);
    position: fixed;
    top: 590px;
    left: 62.6%;
}

.buttoncadastro>svg {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 1.5vh;
}

.buttonCadastroHome {
    background-color: rgba(75, 186, 91, 1);
    border-radius: 12px;
    border-color: white;
    position: relative;
    left: 35px;
    top: 30px;
    width: 305px;
    height: 50px;
    color: white;
    font-size: 16px;
    border: 1px solid;
    border-color: white;
}

.buttonCadastroHome>svg {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 13px;
}

.buttonEntrarCadastro {
    top: 820px;
    width: 305px;
}

.buttonEntrarLogin {
    background-color: white;
    border-radius: 12px;
    border-color: white;
    position: fixed;
    left: 18.8%;
    top: 640px;
    width: 305px;
    height: 50px;
    color: rgba(75, 186, 91, 1);
    font-size: 16px;
    border: 1px solid;
    border-color: rgba(75, 186, 91, 1);
}

.buttonEntrarLogin svg {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 13px;
}

.ButtonEntrarNav {
    cursor: pointer;
    background-color: rgba(75, 186, 91, 1);
    border-radius: 12px;
    border-color: white;
    width: 110px;
    height: 50px;
    color: white;
    font-size: 16px;
    border: 1px solid;
}

@media screen and (max-width: 1880px) {

    .buttoncadastroLogin {
        position: relative;
        top: -70px;
        left: 61%;
    }

    .buttoncadastro {
        left: 63.2%;
    }

}

@media screen and (max-width: 1440px) {

    .buttonEntrarLogin {
        top: 580px;
        left: 19.5%;
    }

    .buttoncadastro {
        top: 500px;
        left: 60.4%;
    }
}

@media screen and (max-width: 1024px) {
    
    .button{
        left: 28%;
    }

    .buttonEntrarLogin {
        left: 13.1%;
    }

    .buttoncadastro {
        left: 63%;
    }
}

@media screen and (max-width: 768px) {

    .button p{font-size: 16px;}

    .button{width: 300px; left: 30%;}

    .buttoncadastroLogin {
        top: -80px;
        left: 55%;
    }

    .buttonEntrarLogin {
        left: 11%;
    }

    .buttoncadastro {
        left: 54.5%;
    }
}

@media screen and (max-width: 430px){
    .button{width: 200px;}
    .button p{font-size: 15px;}
}

@media screen and (max-width: 425px) {

    .buttonEntrarParaHome {
        top: 20px;
        left: 20px;
    }

    .buttonEntrarParaHome>svg {
        width: 25px;
        height: 25px;
        top: 13px;
    }

    .buttonCadastroHome {
        left: 20px;
        top: 25px;
        width: 305px;
        height: 50px;
    }

    .buttonCadastroHome>svg {
        width: 25px;
        height: 25px;
        top: 1.5vh;
    }

    .buttoncadastro {
        left: 70px;
    }

    .buttoncadastro>svg {
        top: 13px;
    }

    .buttoncadastroLogin {
        top: -450px;
        left: 13vh;
    }

    .buttonEntrarCadastro {
        top: 770px;
        left: 85px;
    }

    .buttonEntrarCadastro>svg {
        top: 2.4vh;
    }

    .buttonEntrarLogin {
        top: 505px;
        left: 19%;
    }

    .buttonEntrarLogin svg {
        top: 12px;
    }

    button>a {
        color: white;
    }
}

@media screen and (max-width: 375px) {
    
    .button{left: 25%;}

    .buttonEntrarLogin {
        left: 50px;
    }

    .buttoncadastro {
        left: 50px;
    }
}

@media screen and (max-width: 320px) {
    
    .button{left: 20%;}
    
    .buttonEntrarLogin {
        left: 30px;
        width: 250px;
    }

    .buttonCadastroHome {
        width: 250px;
    }

    .buttoncadastro {
        left: 35px;
        width: 250px;
    }

    .buttonEntrarParaHome {
        width: 250px;
        left: 30px;
    }
}