.buttonEntrarParaHome {
    background-color: rgba(75, 186, 91, 1);
    border-radius: 12px;
    border-color: white;
    position: relative;
    left: 50px;
    top: 20px;
    width: 305px;
    height: 50px;
    color: white;
    font-size: 16px;
    border: 1px solid;
    border-color: white;
}

.buttonEntrarParaHome>svg {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 13px;
}

.buttonGoogleLogin {
    background-color: white;
    border-radius: 12px;
    border-color: white;
    position: relative;
    left: 50px;
    top: 30px;
    width: 305px;
    height: 50px;
    color: rgba(75, 186, 91, 1);
    font-size: 16px;
    border: 1px solid;
    border-color: rgba(75, 186, 91, 1);
}

.buttonGoogleLogin svg {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    left: 50px;
}

.buttonGoogleCadastro{
    background-color: white;
    border-radius: 12px;
    border-color: white;
    position: relative;
    left: 35px;
    top: 40px;
    width: 305px;
    height: 50px;
    color: rgba(75, 186, 91, 1);
    font-size: 16px;
    border: 1px solid;
    border-color: rgba(75, 186, 91, 1);
}

.buttonGoogleCadastro svg{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 50px;
}

.buttoncadastroLogin {
    position: relative;
    top: -200px;
    left: 60.5%;
}

.buttoncadastro {
    background-color: white;
    border-radius: 12px;
    border-color: white;
    width: 305px;
    height: 50px;
    color: rgba(75, 186, 91, 1);
    font-size: 16px;
    border: 1px solid;
    border-color: rgba(75, 186, 91, 1);
    position: fixed;
    top: 700px;
    left: 62.6%;
}

.buttoncadastro>svg {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 1.5vh;
}

.buttonCadastroHome {
    background-color: rgba(75, 186, 91, 1);
    border-radius: 12px;
    border-color: white;
    position: relative;
    left: 35px;
    top: 30px;
    width: 305px;
    height: 50px;
    color: white;
    font-size: 16px;
    border: 1px solid;
    border-color: white;
}

.buttonCadastroHome>svg {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 13px;
}

.buttonEntrarCadastro{
    top: 820px;
    width: 305px;
}

.buttonEntrarLogin{
    background-color: white;
    border-radius: 12px;
    border-color: white;
    position: fixed;
    left: 18.8%;
    top: 730px;
    width: 305px;
    height: 50px;
    color: rgba(75, 186, 91, 1);
    font-size: 16px;
    border: 1px solid;
    border-color: rgba(75, 186, 91, 1);
}

.buttonEntrarLogin svg{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 13px;
}

@media screen and (max-width: 1880px) {

    .buttoncadastroLogin {
        position: relative;
        top: -70px;
        left: 61%;
    }

}

@media screen and (max-width: 1440px) {

    .buttonEntrarLogin{
        top: 700px;
    }

    .buttonGoogle svg {
        top: 1.5vh;
        left: 6vh;
    }

    .buttoncadastro{
        top: 600px;
        left: 60.5%;
    }
}

@media screen and (max-width: 768px) {

    .buttonGoogle svg {
        top: 1.8vh !important;
        left: 6vh !important;
    }
}

@media screen and (max-width: 1024px) {
    .buttonGoogle svg {
        top: 2vh;
        left: 7vh;
    }

    .buttonEntrarLogin{
        left: 130px;
    }

    .buttoncadastro{
        left: 63%;
    }
}

@media screen and (max-width: 768px) {

    .buttoncadastroLogin {
        top: -80px;
        left: 55%;
    }

    .buttonEntrarLogin{
        left: 80px;
    }

    .buttoncadastro{
        left: 54.5%;
    }
}

@media screen and (max-width: 425px) {
    .button {
        background-color: rgba(75, 186, 91, 1);
        border-radius: 12px;
        border-color: white;
        position: relative;
        left: 60px;
        width: 300px;
        height: 50px;
        color: white;
        border-bottom: 0px;
        border-right: 0px;
        border-left: 0px;
        border-top: 0px;
        margin-top: 30px;
    }

    .buttonEntrarParaHome {
        top: 20px;
        left: 20px;
    }

    .buttonEntrarParaHome>svg {
        width: 25px;
        height: 25px;
        top: 13px;
    }

    .buttonCadastroHome {
        left: 20px;
        top: 25px;
        width: 305px;
        height: 50px;
    }

    .buttonCadastroHome>svg {
        width: 25px;
        height: 25px;
        top: 1.5vh;
    }

    .buttonGoogleLogin {
        left: 20px;
        top: 30px;
    }

    .buttonGoogleLogin svg {
        top: 10px;
        left: 50px;
    }

    .buttonGoogleCadastro{
        top: 30px;
        left: 20px;
    }

    .buttoncadastro {
      left: 70px;
    }

    .buttoncadastro>svg {
        top: 13px;
    }

    .buttoncadastroLogin {
        position: relative;
        top: -450px;
        left: 13vh;
    }

    .buttonEntrarCadastro {
        top: 770px;
        left: 85px;
    }

    .buttonEntrarCadastro>svg {
        top: 2.4vh;
    }

    .buttonEntrarLogin {
        top: 560px;
    }

    .buttonEntrarLogin svg {
        top: 12px;
    }

    button>a {
        color: white;
    }
}

@media screen and (max-width: 375px) {
    .buttonEntrarLogin {
        left: 50px;
    }
    .buttoncadastro{
        left: 50px;
    }
}

@media screen and (max-width: 320px) {
    .buttonEntrarLogin {
        left: 30px;
        width: 250px;
    }
    .buttonCadastroHome{
        width: 250px;
    }
    .buttonGoogleCadastro{
        width: 250px;
    }
    .buttonGoogleCadastro svg{
        left: 30px;
    }
    .buttoncadastro{
        left: 35px;
        width: 250px;
    }
    .buttonGoogleLogin{
        width: 250px;
        left: 30px;
    }
    .buttonGoogleLogin svg{
        left: 30px;
    }
    .buttonEntrarParaHome{
        width: 250px;
        left: 30px;
    }
}