
    .sapocadastro{
        position: fixed;
        right: 0%;
    }

    .setaCadastro{
        position: fixed;
        top: 1vh;
        left: 2vh;
    }

    .setaCadastro a svg{
        width: 30px;
        height: 30px;
        color: rgba(75, 186, 91, 1);
    }

    .logo {
        width: 300px;
        height: 250px;
    }

    .imgcomCadastro{
        width: 300px;
        height: 300px;
        position: fixed;
        top: 40px;
        left: 20%;
        text-align: center;
    }

    .imgcomCadastro h1{
        width: 300px;        
    }

    .cadastronome{
        font-size: 32px;
    }

    .formulario{
        width: 100vw;
        position: fixed;
        top: 320px;
        left: 17%;
    }

    input{
        font-size: 16px;
        width: 300px;
        height: 50px;
        border-radius: 12px;
        border: 1px solid;
        border-color: white;
        background-color: rgba(237, 232, 226, 1);
        padding-left: 20px;
    }

    .formulario > form > div{
        height: 60px;
    }

    .formulario > form > div > svg {
        width: 28px;
        height: 35px;
        color: white;
        border: 8px solid;
        border-color: rgba(75, 186, 91, 1);
        border-radius: 12px;
        background-color: rgba(75, 186, 91, 1);
        position: relative;
        top: 20px;
        left: 21px;    
    }

    .esqueceusenha{
        position: fixed;
        top: 650px;
        left: 24%;
    }

    .esqueceusenha > p {
        font-size: 16px;
    }

    .OrCadastro {
        position: fixed;
        top: 700px;
        left: 19%;
        display: flex;
        gap: 20px;
    }

    .OrCadastro > h3 {
        font-size: 16px;
    }

    .OrCadastro > div{
        width: 115px;
        background-color: black;
        height: 2px;
        margin-top: 5px;
    }

    @media screen and (max-width: 1440px){
        .sapocadastro{
            width: 560px;
        }

        .logo {
            width: 200px;
            height: 150px;
        }

        .formulario{
            top: 255px;
        }

        .esqueceusenha{
            top: 600px;
        }

        .OrCadastro{
            top: 650px;
        }
    }

    @media screen and (max-width: 1024px){
        .sapocadastro{
            width: 450px;
            height: 100%;
            object-fit: cover;
        }

        .imgcomCadastro{
            left: 150px;
        }

        .formulario{
            left: 100px;
        }

        .esqueceusenha{
            left: 230px;
        }

        .OrCadastro{
            left: 140px;
        }
}

@media screen and (max-width: 768px){
    .sapocadastro{
        width: 320px;
        object-fit: cover;
    }

    .imgcomCadastro{
        left: 100px;
    }

    .formulario{
        left: 50px;
    }

    .esqueceusenha{
        left: 180px;
    }

    .OrCadastro{
        left: 90px;
    }
}

@media screen and (max-width: 425px) {

    .sapocadastro{
        opacity: 0;
    }

    .setaCadastro > a >svg{
        width: 30px;
        height: 30px;
    }

    .setaCadastro {
        top: 2vh;
        left: 2vh;
    }

    .logo {
        width: 173px;
        height: 150px;
    }

    .imgcomCadastro{
        width: 170px;
        height: 190px;
        top: 10px;
        left: 150px;
    }

    .imgcomCadastro h1{
        width: 150px;
        margin-left: 10px;
    }

    .cadastronome{
        font-size: 25px;
    }

    .formulario{
        width: 100vw;
        top: 180px;
        left: 60px;
    }

    input{
        width: 250px;
        height: 50px;
    }

    .formulario > form > div{
        height: 60px;
    }

    .formulario > form > div > svg {
        width: 28px;
        height: 35px;
        top: 20px;
        left: 22px;    
    }

    .esqueceusenha{
        top: 500px;
        left: 180px;
    }

    .OrCadastro {
        top: 535px;
        left: 90px;
    }
}

@media screen and (max-width: 375px) {
    .imgcomCadastro{
        left: 120px;
    }
    .formulario{
        left: 30px;
    }
    .esqueceusenha{
        left: 150px;
    }

    .OrCadastro{
        left: 60px;
    }

}

@media screen and (max-width: 320px) {
    .imgcomCadastro{
        left: 90px;
    }
    .formulario{
        left: 10px;
    }
    input{
        width: 230px;
    }
    .OrCadastro{
        left: 35px;
    }
    .OrCadastro div {
        width: 90px;
    }
    .esqueceusenha{
        left: 100px;
    }
}