.setaLogin>a>svg {
    width: 30px;
    height: 30px;
    color: rgba(75, 186, 91, 1);
}

.setaLogin {
    position: absolute;
    top: 3vh;
    left: 38%;
}

.img-arvore{
    position: fixed;
    left: 0%;
}

.logo {
    width: 200px;
    height: 200px;
}

.loginnome {
    font-size: 32px;
}

.imgcomlogin {
    width: 170px;
    height: 190px;
    position: fixed;
    top: 50px;
    left: 63%;
    text-align: center;
}

.imgcomlogin h1{
    margin-left: 100px;
}

.Loginformulario {
    width: 100vw;
    position: fixed;
    top: 340px;
    left: 60%;
}

input {
    font-size: 16px;
    width: 250px;
    height: 50px;
    border-radius: 12px;
    border: 1px solid;
    border-color: white;
    background-color: rgba(237, 232, 226, 1);
    padding-left: 20px;
}

.Loginformulario>form>div {
    height: 60px;
}

.Loginformulario>form>div>svg {
    width: 28px;
    height: 35px;
    color: white;
    border: 8px solid;
    border-color: rgba(75, 186, 91, 1);
    border-radius: 12px;
    background-color: rgba(75, 186, 91, 1);
    position: relative;
    top: 2vh;
    left: 2vh;
}

.esqueceusenhaLogin {
    position: fixed;
    top: 610px;
    left: 67.5%;
}

.esqueceusenha>p {
    font-size: 16px;
}

.OrLogin {
    position: fixed;
    top: 650px;
    left: 63%;
    display: flex;
    gap: 20px;
}

.OrLogin>h3 {
    font-size: 16px;
}

.OrLogin>div {
    width: 115px;
    background-color: black;
    height: 2px;
    margin-top: 5px;
}


@media screen and (max-width: 1880px) {

        html{
            overflow: hidden;
        }

        .setaLogin{
            left: 30%;
        }
    
        .img-arvore {
            height: 100dvh;
        }

    .esqueceusenhaLogin {
        top: 605px;
        left: 68%;
    }

    .OrLogin {
        top: 645px;
        left: 63%;
    }

    .Loginformulario>form>div>svg {
        top: 20px;
        left: 18px;
    }
}

@media screen and (max-width: 1440px) {

    .setaLogin {
        top: 1vh;
        left: 70vh;
    }

    .imgcomlogin {
        width: 170px;
        height: 190px;
        top: 80px;

    }

    .imgcomlogin h1{
        margin-left: 20px;
    }

    .Loginformulario {
        top: 260px;
        left: 57%;
    }

    .Loginformulario>form>div>svg {
        top: 20px;
        left: 20px;
    }

    .esqueceusenhaLogin {
        top: 520px;
        left: 67%;
    }

    .OrLogin {
        top: 560px;
        left: 61%;
    }
}

@media screen and (max-width: 1024px){
    .imgcomlogin{
        left: 68%;
    }
    .Loginformulario{
        left: 58%;
    }
    .esqueceusenhaLogin{
        top: 520px;
        left: 72%;
    }
    .OrLogin{
        left: 63.5%;
    }
}

@media screen and (max-width: 768px) {
    
    .img-arvore {
        width: 350px;
        object-fit: cover;
    }

    .setaLogin {
        top: 1vh;
        left: 45vh;
        width: 25px;
    }

    .imgcomlogin {
        width: 170px;
        height: 190px;
        top: 80px;
        left: 62%;
    }

    .Loginformulario {
        top: 260px;
        left: 48%;
    }

    .esqueceusenhaLogin {
        left: 66.5%; 
        top: 530px; 
    }

    .OrLogin {
        top: 560px;
        left: 55.5%;
    }
}

@media only screen and (max-width: 425px) {

    .img-arvore {
        opacity: 0;
    }

    .setaLogin>a>svg {
        width: 30px;
        height: 30px;
    }

    .setaLogin {
        top: 2vh;
        left: 3vh;
    }

    .logo {
        width: 173px;
        height: 150px;
    }

    .imgcomlogin {
        width: 170px;
        height: 190px;
        top: 60px;
        left: 140px;
    }

    .imgcomlogin h1{
        margin-left: 10px;
    }

    .Loginformulario {
        top: 250px;
        left: 50px;
    }

    .Loginformulario>form>div>svg {
        top: 20px;
        left: 20px;
    }

    .esqueceusenhaLogin {
        top: 510px;
        left: 170px;
    }

    .OrLogin {
        top: 550px;
        left: 80px;
    }
}

@media screen and (max-width: 375px) {
    .imgcomlogin{
        left: 120px;
    }
    .Loginformulario{
        left: 30px;
    }
    .esqueceusenhaLogin{
        left: 150px;
    }
    .OrLogin{
        left: 60px;
    }
}

@media screen and (max-width: 320px) {
    .imgcomlogin{
        left: 80px;
    }
    .Loginformulario{
        left: 5px;
    }
    .esqueceusenhaLogin{
        left: 100px;
    }
    .OrLogin{
        left: 40px;
        width: 240px;
    }
}