@media only screen
and (max-width: 430px){
    
    .text{
        margin-left: 0px;
        width: 340px;
        font-size: 12px;
        line-height: 14.06px;
    }
    
    .text p{
        margin-left: 60px;
        margin-bottom: 10px;
    }
    
    .text span{
        color: rgba(42, 175, 25, 1);
    }
    
    .text-ul{
        margin-left: 80px;
    }
    
    .text-ul li{
        margin-bottom: 10px;
    }

    .texto-principal{
        font-size: 18px;
        margin-bottom: 20px;
        margin-left: 60px;
        overflow: none;
    }
}